{% extends "base.html.twig" %}
{% block innerPage %} Privacy Policy {% endblock %}
{% block body %}
<!-- arrival section -->
		<section class="arrival_section">
			<div class="container">
				<div class="box">
					<div class="row">
						<div class="col-md-12 col ml-auto">
							<div class="heading_container remove_line_bt">
								<h2>
									#Notre Privacy policy= UBUNTU
								</h2>
							</div>
							<p style="margin-top: 20px;margin-bottom: 30px;">
							Notre Privacy policy= UBUNTU
							</p>
							<a href="{{url('app_terme_conditions')}}">
								Termes et conditions 
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end arrival section -->{% endblock %}
