{% extends "base.html.twig" %}
{% block innerPage %}
	Terme et conditions
{% endblock %}
{% block body %}
	<!-- arrival section -->
	<section class="arrival_section">
		<div class="container">
			<div class="box">
				<div class="row">
					<div class="col-md-12 col ml-auto pt-2 mt-2">
						<p class="pt-0 mt-0" style="margin-top: 2px;margin-bottom: 30px;">
						<div class="heading_container remove_line_bt pt-2 mt-2">
							<h2 class="pt-0 mt-0">
								#Conditions d'utilisation
							</h2>
						</div>
							Bienvenue sur Finasarl.com. ou ses sociétés affiliées (Fina sarl) vous fournissent des fonctionnalités de site Web et d'autres produits et services lorsque vous visitez ou magasinez sur Finasarl.com, utilisez des produits ou services , utilisez des applications Fina pour mobile ou utilisez des logiciels fournis par Fina sarl dans le cadre de l'un des éléments susmentionnés (collectivement, les « Services Fina sarl »). En utilisant les Services Fina sarl, vous acceptez, en votre nom et au nom de tous les membres de votre foyer et autres qui utilisent tout Service sous votre compte, les conditions suivantes.
						<div class="heading_container remove_line_bt">
							<h2>
								#Communications electroniques
							</h2>
						</div>
							Lorsque vous utilisez les Services Fina sarl ou que vous nous envoyez 
																												des e-mails, des SMS et d'autres communications depuis votre ordinateur de bureau ou votre appareil mobile, vous pouvez communiquer avec nous par voie électronique. Vous consentez à recevoir des communications de notre part par voie électronique, telles que des e-mails, des SMS, des notifications push mobiles ou des notifications et messages sur ce site ou via les autres services Fina sarl, tels que notre centre de messagerie, et vous pouvez conserver des copies de ces communications pour vos dossiers. Vous convenez que tous les accords, avis, divulgations et autres communications que nous vous fournissons par voie électronique satisfont à toute exigence légale selon laquelle ces communications doivent être écrites.

							<div class="heading_container remove_line_bt">
								<h2>
									#Droit d'auteur
								</h2>
							</div>
							Tout le contenu inclus dans ou mis à disposition via tout service Fina sarl, tel que le texte, les graphiques, les logos, les icônes de bouton, les images, les clips audio, les téléchargements numériques, les compilations de données et les logiciels est la propriété de Fina sarl ou de ses fournisseurs de contenu et protégé par la RDC. et les lois internationales sur le droit d'auteur. La compilation de tout le contenu inclus dans ou mis à disposition via tout Service Fina sarl est la propriété exclusive de Fina sarl et est protégée par les lois de la république démocratique congo et internationales sur le droit d'auteur.

							<div class="heading_container remove_line_bt">
								<h2>
									#Marque commerciale
								</h2>
							</div>

							En outre, les graphiques, logos, en-têtes de page, icônes de bouton, scripts et noms de service inclus ou mis à disposition via tout Service Fina sarl sont des marques commerciales ou des habillages commerciaux de  en RDC et dans d'autres pays. Les marques commerciales et les habillages commerciaux de Fina sarl ne peuvent être utilisés en relation avec un produit ou un service qui n'appartient pas à Fina sarl, d'une manière susceptible de semer la confusion parmi les clients ou d'une manière qui dénigre ou discrédite Fina sarl. Toutes les autres marques déposées n'appartenant pas à Fina sarl qui apparaissent dans tout Service Fina sarl sont la propriété de leurs propriétaires respectifs, qui peuvent ou non être affiliés, connectés ou parrainés par Fina sarl.


							<div class="heading_container remove_line_bt">
								<h2>
									#Licence et accès
								</h2>
							</div>
							Sous réserve de votre respect des présentes conditions d'utilisation et des conditions de service, et de votre paiement des frais applicables, Fina sarl ou ses fournisseurs de contenu vous accordent une licence limitée, non exclusive, non transférable et non sous-licenciable pour accéder et faire des utilisation non commerciale des Services Fina sarl. Cette licence n'inclut aucune revente ou utilisation commerciale de tout Service Fina sarl ou de son contenu ; toute collecte et utilisation de listes de produits, de descriptions ou de prix ; toute utilisation dérivée de tout Service Fina sarl ou de son contenu ; tout téléchargement, copie ou autre utilisation des informations de compte au profit d'un tiers ; ou toute utilisation d'exploration de données, de robots ou d'outils similaires de collecte et d'extraction de données. Tous les droits qui ne vous sont pas expressément accordés dans les présentes Conditions d'utilisation ou dans les Conditions de service sont réservés et conservés par Fina sarl ou ses concédants de licence, fournisseurs, éditeurs, titulaires de droits ou autres fournisseurs de contenu. Aucun Service Fina sarl, ni aucune partie d'un Service Fina sarl, ne peut être reproduit, dupliqué, copié, vendu, revendu, visité ou autrement exploité à des fins commerciales sans l'autorisation écrite expresse de Fina sarl. Vous ne pouvez pas encadrer ou utiliser des techniques d'encadrement pour inclure une marque, un logo ou d'autres informations exclusives (y compris des images, du texte, une mise en page ou un formulaire) de Fina sarl sans autorisation écrite expresse. Vous n'êtes pas autorisé à utiliser des balises META ou tout autre « texte caché » utilisant le nom ou les marques commerciales Fina sarl sans l'autorisation écrite expresse de Fina sarl. Vous ne pouvez pas abuser des Services Fina sarl. Vous ne pouvez utiliser les Services Fina sarl que dans la mesure permise par la loi. Les licences accordées par Fina sarl prennent fin si vous ne respectez pas les présentes Conditions d'utilisation ou les Conditions de service. éditeurs, titulaires de droits ou autres fournisseurs de contenu. Aucun Service Fina sarl, ni aucune partie d'un Service Fina sarl, ne peut être reproduit, dupliqué, copié, vendu, revendu, visité ou autrement exploité à des fins commerciales sans l'autorisation écrite expresse de Fina sarl. Vous ne pouvez pas encadrer ou utiliser des techniques d'encadrement pour inclure une marque, un logo ou d'autres informations exclusives (y compris des images, du texte, une mise en page ou un formulaire) de Fina sarl sans autorisation écrite expresse. Vous n'êtes pas autorisé à utiliser des balises META ou tout autre « texte caché » utilisant le nom ou les marques commerciales de Fina sarl sans l'autorisation écrite expresse de Fina sarl. Vous ne pouvez pas abuser des Services Fina sarl. Vous ne pouvez utiliser les Services Fina sarl que dans la mesure permise par la loi. Les licences accordées par Fina sarl prennent fin si vous ne respectez pas les présentes Conditions d'utilisation ou les Conditions de service. éditeurs, titulaires de droits ou autres fournisseurs de contenu. Aucun Service Fina sarl, ni aucune partie d'un Service Fina sarl, ne peut être reproduit, dupliqué, copié, vendu, revendu, visité ou autrement exploité à des fins commerciales sans l'autorisation écrite expresse de Fina sarl. Vous ne pouvez pas encadrer ou utiliser des techniques VOTRE COMPTE
																												Vous pouvez avoir besoin de votre propre compte Fina sarl pour utiliser certains Services Fina sarl, et vous devrez peut-être être connecté au compte et avoir un mode de paiement valide associé à celui-ci. En cas de problème de facturation de votre mode de paiement sélectionné, nous pouvons facturer tout autre mode de paiement valide associé à votre compte. Consultez  vos paiement  pour gérer vos options de paiement. Vous êtes responsable du maintien de la confidentialité de votre compte et de votre mot de passe et de la restriction de l'accès à votre compte, et vous acceptez d'accepter la responsabilité de toutes les activités qui se produisent sous votre compte ou votre mot de passe. Fina sarl vend des produits pour les enfants, mais il les vend aux adultes, qui peuvent acheter avec une carte de crédit ou un autre mode de paiement autorisé. Si vous avez moins de 18 ans, vous ne pouvez utiliser les Services Fina sarl qu'avec la participation d'un parent ou d'un tuteur. Les parents et les tuteurs peuvent créer des profils pour les adolescents de leur foyer Fina sarl. 
														AVIS, COMMENTAIRES, COMMUNICATIONS ET AUTRES CONTENUS
							<div class="heading_container remove_line_bt">
								<h2>
									#Avis, commenntaires, communications et autres contenus
								</h2>
							</div>

							Vous pouvez publier des critiques, des commentaires, des photos, des vidéos et d'autres contenus ; envoyer des cartes électroniques et d'autres communications ; et soumettre des suggestions, des idées, des commentaires, des questions ou d'autres informations, tant que le contenu n'est pas illégal, obscène, menaçant, diffamatoire, envahissant la vie privée, portant atteinte aux droits de propriété intellectuelle (y compris les droits de publicité) ou autrement préjudiciable à des tiers ou répréhensible, et ne consiste pas en ou ne contient pas de virus logiciels, de campagne politique, de sollicitation commerciale, de chaînes de lettres, de publipostage ou de toute forme de « spam » ou de messages électroniques commerciaux non sollicités. Vous ne pouvez pas utiliser une fausse adresse e-mail, usurper l'identité d'une personne ou d'une entité, ou autrement induire en erreur quant à l'origine d'une carte ou de tout autre contenu. Fina sarl se réserve le droit (mais non l'obligation) de supprimer ou de modifier ce contenu,
																												Si vous publiez du contenu ou soumettez du matériel, et sauf indication contraire de notre part, vous accordez à Fina sarl un droit non exclusif, libre de droits, perpétuel, irrévocable et entièrement sous-licenciable d'utiliser, de reproduire, de modifier, d'adapter, de publier, d'exécuter, de traduire, de créer des dérivés travaille à partir de, distribue et affiche ce contenu dans le monde entier sur n'importe quel média. Vous accordez à Fina sarl et aux sous-licenciés le droit d'utiliser le nom que vous soumettez en relation avec ce contenu, s'ils le souhaitent.
							<div class="heading_container remove_line_bt">
								<h2>
									#Plainte de propriété intellectuel
								</h2>
							</div>

							Fina sarl respecte la propriété intellectuelle d'autrui. Si vous pensez que vos droits de propriété intellectuelle sont enfreints, veuillez suivre notre
							<div class="heading_container remove_line_bt">
								<h2>
									#Risque de perte
								</h2>
							</div>
							Tous les achats d'articles physiques auprès de Fina sarl sont effectués conformément à un contrat d'expédition. Cela signifie que le risque de perte et la propriété de ces articles vous sont transférés lors de notre livraison au transporteur.
						</p>
						<a href="{{url('app_garantie_remboursement')}}">
							Garantie remboursement
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end arrival section -->
{% endblock %}
