{% extends 'base.html.twig' %}

{% block title %}Edit Magazine{% endblock %}

{% block body %}
    <h1>Edit Magazine</h1>

    {{ include('magazine/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_magazine_index') }}">back to list</a>

    {{ include('magazine/_delete_form.html.twig') }}
{% endblock %}
