{% extends 'base.html.twig' %}

{% block title %}Edit CategorieService{% endblock %}

{% block body %}
    <h1>Edit CategorieService</h1>

    {{ include('categorie_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_service_index') }}">back to list</a>

    {{ include('categorie_service/_delete_form.html.twig') }}
{% endblock %}
